<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Notification - VCCWatch WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>VCCWatch WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>VCCWatch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D887D2C41BB08E0A00AA095F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D887D2D81BB08E0A00AA095F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D887D2E31BB08E0A00AA095F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D887D2EC1BB08E0A00AA095F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
